.search-icon {
    background-image: url(../images/icons/search.png) !important;
}
.add-icon {
	background-image: url(../images/icons/add.png) !important;
}
.delete-icon {
	background-image: url(../images/icons/delete.png) !important;
}
.cancel-icon {
	background-image: url(../images/icons/cancel.png) !important;
}
.save-icon {
	background-image: url(../images/icons/save.png) !important;
}
.bind-icon {
	background-image: url(../images/icons/bind.png) !important;
}
.unbind-icon {
	background-image: url(../images/icons/unbind.png) !important;
}
.pie-chart-icon {
	background-image: url(../images/icons/pie-chart.png) !important;
}
.bar-chart-icon {
	background-image: url(../images/icons/bar-chart.png) !important;
}
.line-chart-icon {
	background-image: url(../images/icons/line-chart.png) !important;
}
.edit-icon {
	background-image: url(../images/icons/edit.png) !important;
}
.info-icon {
	background-image: url(../images/icons/info.png) !important;
}
.alert-icon {
	background-image: url(../images/icons/alert.png) !important;
}
